@import "../../styles/partial/mixins";
@import "../../styles/partial/variables";

.about {
  display : flex;
  max-width: 1240px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 50px;
  // RESPONSIVE
  @media (max-width: 450px) {
    max-width: 100vh;
    margin-top : 30%;
  }


  .menu_container .menu_button  {
    max-width: 1023px;
    width: 70vw;
    @media (max-width: 450px) {
      max-height: 50px;
      height: 7vw;
      font-size: 4vw;
      align-items: center;
    }
    .arrow.inactive {
      @media (max-width: 450px) {
        height: 1vw;
        top : 0;
        align-self: center;
      }
    }
    .arrow.active {
      @media (max-width: 450px) {
        height: 1vw;
        top : 30px;
        align-self: center;
      }

    }
  }



.menu_content_container.active {
    max-width: 1023px;
    width: 70vw;
}
}


//control the about page style
// Cheat with !important cause of the default dropdown style at width 1023px