.banner-background { // Background
  position : relative;
  width: 1240px;
  height: 223px;
  flex-shrink: 0;
  border-radius: 25px;
  margin : 0 auto;
  &::before { // Overlay
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    border-radius: 25px;
  }
  .banner { // Image
    width: 1240px;
    height: 223px;
    flex-shrink: 0;
    border-radius: 25px;
  }
  h1 { // Title
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #FFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%; /* 68.448px */

  }
}

// This _banner control the top image.
// background is the background of the banner image. &:: before pseudo-element helps to create the darken effect.
// .banner is the image itself.
// h1 is the title of the banner. Font is inside _reset.scss

// RESPONSIVE DESIGN

// 375px

@media (max-width: 375px) {
  .banner-background {
    width: 335px;
    height: 111px;
    .banner {
      width: 335px;
      height: 111px;
    }
    h1 {
      width: 70%;
      white-space: normal;
left: 40%;
      font-size: 24px;
      line-height: 100%;    }
  }
}