@import "_mixins";

.gallery-background {
  border-radius: 25px;
  background: #F6F6F6;
  width: 1240px;
  height: 829px;
  flex-shrink: 0;

  .gallery {
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 60px;
    grid-column-gap: 50px;
    padding: 56px 50px 43px 50px;

figure {
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(10, 10, 10, 0.00) 42%, rgba(4, 4, 4, 0.20) 99.99%, rgba(0, 0, 0, 0.50) 100%);
  contain: content;
  img {
    position: relative;
    z-index: 0;
    width: 340px;
    height: 340px;
    border-radius: 10px;
  }
  figcaption {
    padding-left: 5%;
    display: flex;
    position: absolute;
    @include text-18 (#FFF);
  }
}
  }
}
