header {
  margin : 45px auto 50px;
  display: flex;
  justify-content: space-between;
  width: 1240px;
  height: 68px;
  img {
    height: 68px;
  }
  nav {
    //height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      display: flex;
      gap: 57px;
    }
  }
}

