header {
  display: flex;
    justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  nav {
    display: flex;
    align-items: flex-start;

    ul {
      display: flex;
      gap: 57px;
      li {
        list-style: none;
        a {
          text-decoration: none;
          &:visited {
            color: black;
          }
        }
      }
    }
  }
}

