@import "_mixins";

header {
  margin : 45px auto 50px;
  display: flex;
  justify-content: space-between;
  width: 1240px;
  height: 68px;
  img {
    width: 210.322px;
    height: 68px;
    flex-shrink: 0;
  }
  nav {
    height: 68px;
    gap: 57px;
    display: flex;
    justify-content: center;
    align-items: center;


    a {
      @include text-24 (#000);
    }
  }
}

