// Default styles are annoying

body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, figure, figcaption, blockquote, dl, dd, form, fieldset, legend, button, input, textarea, select {
  margin: 0 auto;
  padding: 0;
  font-family: "montserrat", sans-serif;
  line-height: 142.6%;
  font-style: normal;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
}

