body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, figure, figcaption, blockquote, dl, dd, form, fieldset, legend, button, input, textarea, select {
  margin: 0 auto;
  padding: 0;
  font-family: "montserrat", sans-serif;
  line-height: 142.6%;
  font-style: normal;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media (max-width: 450px) {
  body {
    width: 100%;
  }
}

#root {
  min-height: 100vh;
}

header {
  margin: 45px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86%;
  height: 68px;
}
@media (max-width: 450px) {
  header {
    height: 46px;
    margin: 20px auto;
  }
}
header img {
  width: min(80%, max(100%, 6vw));
  height: 68px;
  flex-shrink: 1;
}
@media (max-width: 450px) {
  header img {
    width: 145px;
    height: 46px;
  }
}
header nav {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  gap: 15%;
  height: auto;
}
header nav a {
  font-size: min(24px, max(12px, 4vw));
  white-space: nowrap;
}
@media (max-width: 450px) {
  header nav a {
    color: #000;
    font-size: 12px;
    font-weight: 400;
  }
}

footer {
  display: flex;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  padding: 5%;
  flex-direction: column;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 100%;
}
@media (max-width: 450px) {
  footer {
    padding: 15%;
  }
}
footer .footerContent {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
}
@media (max-width: 450px) {
  footer .footerContent {
    gap: 10px;
    width: 70%;
  }
}
footer .footerContent p {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  white-space: pre-wrap;
}
@media (max-width: 450px) {
  footer .footerContent p {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
  }
}
footer .footerContent img {
  max-width: 122px;
  height: 39.444px;
  flex-shrink: 0;
  filter: brightness(0) invert(1);
}

.banner-background {
  position: relative;
  width: 86%;
  height: 223px;
  flex-shrink: 0;
  border-radius: 25px;
  margin: 0 auto 50px;
  z-index: 0;
}
@media (max-width: 450px) {
  .banner-background {
    height: 111px;
    margin: 0 auto;
  }
}
.banner-background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  background: #000;
  mix-blend-mode: darken;
  border-radius: 25px;
}
@media (max-width: 450px) {
  .banner-background::before {
    height: 111px;
  }
}
.banner-background .banner {
  height: 223px;
  border-radius: 25px;
  object-fit: cover;
  min-width: 100%;
}
@media (max-width: 450px) {
  .banner-background .banner {
    height: 111px;
  }
}
.banner-background h1 {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  z-index: 1;
  white-space: pre-wrap;
  color: #FFF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-color: #000;
  font-size: min(48px, max(16px, 5vw));
  font-style: normal;
  font-weight: 700;
  line-height: 142.6%;
}
@media (max-width: 450px) {
  .banner-background h1 {
    font-size: min(24px, max(20px, 6vw));
    width: 70%;
    white-space: normal;
    top: 20%;
    left: 10%;
    text-align: left;
  }
}

.gallery-background {
  border-radius: 25px;
  background: #F6F6F6;
  width: 86%;
  height: auto;
  margin: 0 auto 50px auto;
}
@media (max-width: 450px) {
  .gallery-background {
    background: none;
    margin: 22px auto 22px auto;
    width: 100%;
  }
}
.gallery-background .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-row-gap: 60px;
  grid-column-gap: 50px;
  padding: 56px 50px 43px 50px;
  justify-content: center;
}
@media (max-width: 450px) {
  .gallery-background .gallery {
    grid-row-gap: 20px;
    padding: 0 20px 20px 20px;
  }
}

.about {
  display: flex;
  max-width: 1240px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 50px;
}
@media (max-width: 450px) {
  .about {
    max-width: 100vh;
    margin-top: 30%;
  }
}
@media (max-width: 450px) {
  .about .menu_container .menu_button {
    max-height: 50px;
    height: 7vw;
    font-size: 4vw;
    align-items: center;
  }
}
@media (max-width: 450px) {
  .about .menu_container .menu_button .arrow {
    float: right;
    transform: scale(0.8);
    right: 50px;
  }
  .about .menu_container .menu_button .arrow.active {
    transform: scale(0.8) rotate(-180deg);
  }
}

.error h1 {
  color: #FF6060;
  text-align: center;
  font-size: 288px;
  font-weight: 700;
}
@media (max-width: 450px) {
  .error h1 {
    font-size: 96px;
    margin-top: 113px;
    margin-bottom: 0;
  }
}
.error .oups {
  padding-top: 139px;
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 450px) {
  .error .oups {
    color: #FF6060;
    font-size: 18px;
    font-weight: 700;
    font-weight: 500;
    white-space: pre-line;
    margin: 113px 52px;
    padding-top: 0;
  }
}
.error .accueil {
  padding-top: 139px;
  padding-bottom: 139px;
  color: black;
  font-size: 18px;
  font-weight: 700;
  font-weight: 500;
  text-decoration-line: underline;
  text-align: center;
}
@media (max-width: 450px) {
  .error .accueil {
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-weight: 500;
    padding-top: 0;
  }
}

.logement {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
}
@media (max-width: 700px) {
  .logement {
    margin: 0 20px;
  }
}
.logement .logement_carousel {
  position: relative;
  min-width: fit-content;
  max-width: 1240px;
  margin: 0 0 30px 0;
  z-index: 0;
}
@media (max-width: 700px) {
  .logement .logement_carousel {
    margin: 0 auto 15px;
    width: 100%;
  }
}
.logement .logement_carousel .carousel_button {
  position: absolute;
  z-index: 1;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
@media (max-width: 700px) {
  .logement .logement_carousel .carousel_button {
    height: 50px;
  }
}
@media (max-width: 450px) {
  .logement .logement_carousel .carousel_button {
    height: 24px;
  }
}
.logement .logement_carousel #prev {
  left: 3%;
  top: 45%;
}
.logement .logement_carousel #next {
  right: 3%;
  top: 45%;
  transform: rotate(180deg);
}
.logement .logement_carousel .logement_carousel_number {
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: 45%;
  color: white;
  font-size: 18px;
  font-weight: 700;
  font-weight: 500;
}
@media (max-width: 450px) {
  .logement .logement_carousel .logement_carousel_number {
    display: none;
  }
}
.logement .logement_carousel_slide {
  border-radius: 10px;
  max-width: 1240px;
  height: 415px;
  flex-shrink: 1;
  margin: 0 auto;
}
@media (max-width: 700px) {
  .logement .logement_carousel_slide {
    max-height: 415px;
    height: 10vh;
    min-height: 315px;
    width: 100%;
  }
}
.logement .logement_carousel_slide img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.logement .logement_first_row .logement_host_desktop {
  display: none;
}
@media (min-width: 700px) {
  .logement .logement_first_row .logement_host_desktop {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  .logement .logement_first_row .logement_host_desktop .logement_host_name_desktop {
    color: #FF6060;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding-right: 5px;
    white-space: nowrap;
  }
  .logement .logement_first_row .logement_host_desktop .logement_host_pic_desktop {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
}
.logement .logement_first_row_infos {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .logement .logement_first_row_infos {
    flex-direction: column;
  }
}
.logement .logement_first_row_infos .logement_infos .logement_title {
  color: #FF6060;
  font-size: 36px;
  font-weight: 400;
  font-size: min(36px, max(18px, 2vw));
}
@media (max-width: 1071px) {
  .logement .logement_first_row_infos .logement_infos .logement_title {
    width: 99%;
  }
}
.logement .logement_first_row_infos .logement_infos .logement_location {
  color: black;
  font-size: 18px;
  font-weight: 700;
  font-weight: 500;
}
@media (max-width: 700px) {
  .logement .logement_first_row_infos .logement_infos .logement_location {
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
  }
}
.logement .logement_second_row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 700px) {
  .logement .logement_second_row {
    flex-direction: column-reverse;
    margin-top: 0;
  }
}
.logement .logement_second_row .logement_rating_and_host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logement .logement_second_row .logement_rating_and_host .logement_rating {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 15px;
  align-items: center;
}
.logement .logement_second_row .logement_rating_and_host .logement_rating .star {
  height: auto;
  width: auto;
}
@media (max-width: 700px) {
  .logement .logement_second_row .logement_rating_and_host .logement_rating .star {
    transform: scale(0.8);
    width: 10px;
  }
}
.logement .logement_second_row .logement_rating_and_host .logement_host_mobile {
  display: none;
}
@media (max-width: 700px) {
  .logement .logement_second_row .logement_rating_and_host .logement_host_mobile {
    display: flex;
    flex-direction: row;
  }
  .logement .logement_second_row .logement_rating_and_host .logement_host_mobile .logement_host_name_mobile {
    color: #FF6060;
    font-size: 12px;
    font-weight: 400;
    word-break: break-all;
    display: flex;
    align-items: center;
  }
  .logement .logement_second_row .logement_rating_and_host .logement_host_mobile .logement_host_pic_mobile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 10px;
  }
}
.logement .logement_second_row .logement_tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 700px) {
  .logement .logement_second_row .logement_tags {
    flex-direction: row;
    order: 2;
    gap: 5px;
    flex: 1;
    margin-bottom: 24px;
    margin-top: 10px;
  }
}
.logement .logement_second_row .logement_tags .logement_tags_item {
  color: white;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  background: #FF6060;
  min-width: fit-content;
  padding: 15px 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  .logement .logement_second_row .logement_tags .logement_tags_item {
    padding: 0 25px;
    height: auto;
    margin: 0;
  }
}
.logement .logement_third_row {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  max-width: 100%;
  flex-wrap: wrap;
}
@media (max-width: 999px) {
  .logement .logement_third_row {
    justify-content: center;
  }
}
@media (max-width: 700px) {
  .logement .logement_third_row {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.logement .logement_third_row .menu_container {
  margin-top: 20px;
  flex: 0 1 auto;
}
@media (max-width: 700px) {
  .logement .logement_third_row .menu_container {
    width: 100%;
  }
}
.logement .logement_third_row .menu_button {
  width: 40vw;
  max-width: 582px;
  margin: auto 0;
  flex: 0 1 auto;
}
@media (max-width: 1365px) {
  .logement .logement_third_row .menu_button {
    width: 40vw;
  }
}
@media (max-width: 999px) {
  .logement .logement_third_row .menu_button {
    max-width: 80vw;
    min-width: 75vw;
  }
}
@media (max-width: 700px) {
  .logement .logement_third_row .menu_button {
    width: 100%;
    max-width: unset;
    min-width: unset;
    color: white;
    font-size: 14px;
    font-weight: 700;
  }
}
.logement .logement_third_row .menu_button .arrow {
  right: 20px;
}
@media (max-width: 700px) {
  .logement .logement_third_row .menu_button .arrow {
    transform: scale(0.8);
    top: 3px;
  }
  .logement .logement_third_row .menu_button .arrow.active {
    transform: scale(0.8) rotate(-180deg);
  }
}
.logement .logement_third_row .menu_content_container {
  Width: 40vw;
  max-width: 582px;
  margin: auto 0;
}
@media (max-width: 1365px) {
  .logement .logement_third_row .menu_content_container {
    width: 40vw;
  }
}
@media (max-width: 999px) {
  .logement .logement_third_row .menu_content_container {
    max-width: 80vw;
    min-width: 75vw;
  }
}
@media (max-width: 700px) {
  .logement .logement_third_row .menu_content_container {
    width: 100%;
    max-width: unset;
    min-width: unset;
  }
  .logement .logement_third_row .menu_content_container.active {
    color: black;
    font-size: 14px;
    font-weight: 400;
  }
}

.menu_container {
  position: relative;
  flex: 0 1 auto;
}
.menu_container .menu_button {
  background-color: #FF6060;
  width: 60vw;
  max-width: 1023px;
  color: white;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  margin: 30px 30px 0;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
  font-weight: 700;
  z-index: 1;
  flex: 0 1 auto;
}
.menu_container .menu_button .arrow {
  position: absolute;
  right: 60px;
  transition: transform 0.5s ease;
}
.menu_container .menu_button .arrow.active {
  transform: rotate(-180deg);
}
.menu_container .menu_content_container {
  width: 60vw;
  max-width: 1023px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background: rgba(246, 246, 246, 0.4509803922) 45%;
  white-space: normal;
  z-index: 1;
  color: black;
  font-size: 18px;
  font-weight: 700;
  font-weight: 400;
  display: none;
}
.menu_container .menu_content_container.active {
  animation: scaledown 0.5s ease;
  display: block;
}

@keyframes scaledown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  50% {
    transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.card-handle .card {
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  max-width: 100%;
  min-width: auto;
  height: 340px;
  border-radius: 10px;
  contain: content;
}
@media (max-width: 450px) {
  .card-handle .card {
    height: auto;
    overflow: hidden;
    max-width: 100%;
  }
}
.card-handle .card img {
  position: relative;
  z-index: 0;
  max-width: 100%;
  min-width: auto;
  height: 340px;
  border-radius: 10px;
  object-fit: cover;
}
@media (max-width: 450px) {
  .card-handle .card img {
    width: auto;
    display: block;
    max-width: 100%;
  }
}
.card-handle .card figcaption {
  padding: 20px;
  display: flex;
  position: absolute;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
}
.card-handle .card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.2) 99.99%, rgb(0, 0, 0) 100%);
}

/*# sourceMappingURL=styles.css.map */
