@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, figure, figcaption, blockquote, dl, dd, form, fieldset, legend, button, input, textarea, select {
  margin: 0 auto;
  padding: 0;
  font-family: "montserrat", sans-serif;
  line-height: 142.6%;
  font-style: normal;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

body {
  width: 1440px;
}

header {
  margin: 45px auto 50px;
  display: flex;
  justify-content: space-between;
  width: 1240px;
  height: 68px;
}
header img {
  height: 68px;
}
header nav {
  height: 68px;
  gap: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
}

footer {
  display: flex;
  margin-top: 50px;
  width: 100%;
  height: 209px;
  padding: 66px 464px 29px 463px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
}
footer .footerContent {
  display: flex;
  flex-direction: column;
  gap: 28.556px;
  align-items: center;
}
footer .footerContent p {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
}
footer .footerContent img {
  width: 122px;
  height: 39.444px;
  flex-shrink: 0;
  filter: brightness(0) invert(1);
}

.banner-background {
  position: relative;
  width: 1240px;
  height: 223px;
  flex-shrink: 0;
  border-radius: 25px;
  margin: 0 auto 50px;
}
.banner-background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border-radius: 25px;
}
.banner-background .banner {
  width: 1240px;
  height: 223px;
  flex-shrink: 0;
  border-radius: 25px;
}
.banner-background h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: #FFF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.6%; /* 68.448px */
}

@media (max-width: 375px) {
  .banner-background {
    width: 335px;
    height: 111px;
  }
  .banner-background .banner {
    width: 335px;
    height: 111px;
  }
  .banner-background h1 {
    width: 70%;
    white-space: normal;
    left: 40%;
    font-size: 24px;
    line-height: 100%;
  }
}
.gallery-background {
  border-radius: 25px;
  background: #F6F6F6;
  width: 1240px;
  height: auto;
  margin: 0 auto;
}
.gallery-background .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 60px;
  grid-column-gap: 50px;
  padding: 56px 50px 43px 50px;
}
.gallery-background .gallery figure {
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.2) 99.99%, rgba(0, 0, 0, 0.5) 100%);
  contain: content;
}
.gallery-background .gallery figure img {
  position: relative;
  z-index: 0;
  width: 340px;
  height: 340px;
  border-radius: 10px;
}
.gallery-background .gallery figure figcaption {
  padding: 20px;
  display: flex;
  position: absolute;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error h1 {
  color: #FF6060;
  text-align: center;
  font-size: 288px;
  font-weight: 700;
}
.error .oups {
  padding-top: 139px;
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}
.error .accueil {
  padding-top: 139px;
  padding-bottom: 139px;
  color: black;
  font-size: 18px;
  font-weight: 700;
  font-weight: 500;
  text-decoration-line: underline;
  text-align: center;
}

.logement {
  display: flex;
  flex-direction: column;
}
.logement img {
  width: 50%;
  height: 50%;
  border-radius: 10px;
}
.logement .logement_title {
  color: #FF6060;
  font-size: 36px;
  font-weight: 400;
}
.logement .logement_location {
  color: black;
  font-size: 18px;
  font-weight: 700;
  font-weight: 500;
}
.logement .logement_host_name {
  color: #FF6060;
  font-size: 14px;
  font-weight: 400;
}
.logement .logement_host_pic {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.logement .logement_rating:before {
  content: "☆";
  color: #FF6060;
}

.menu_container {
  position: relative;
  display: inline-block;
}
.menu_container .menu_button {
  background-color: #FF6060;
  width: 1023px;
  color: white;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  margin: 30px 30px 0;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
  font-weight: 700;
}
.menu_container .menu_button p {
  position: absolute;
  right: 60px;
}
.menu_container .menu_button p.active {
  transform: rotate(180deg);
}
.menu_container .menu_content_container {
  width: 1023px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background: rgba(246, 246, 246, 0.4509803922) 45%;
  white-space: normal;
  color: black;
  font-size: 18px;
  font-weight: 700;
  font-weight: 400;
  display: none;
}
.menu_container .menu_content_container.active {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
