@import "../../../styles/mixins";

header {
  margin : 45px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86%;
  height: 68px;

    // RESPONSIVE
  @media (max-width : 450px) {
    height: 46px;
    margin : 20px auto;
  }
  img {
    width: calc(min(80%, max(100%, 6vw)));
    height: 68px;
    flex-shrink: 1;
    // RESPONSIVE
    @media (max-width : 450px) {
      width: 145px;
      height: 46px;
    }
  }
  nav {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    gap: 15%;
    height: auto;
    // RESPONSIVE
    @media (max-width : 450px) {

    }


    a {
      font-size: calc(min(24px, max(12px, 4vw)));
      white-space: nowrap;
    @media (max-width : 450px) {
      @include text-12 (#000);
    }
    }
  }
}

