@import "../../styles/mixins";

.banner-background { // Background
  position : relative;
  max-width: 1240px;
  height: 223px;
  flex-shrink: 0;
  border-radius: 25px;
  margin : 0 auto 50px;
  // RESPONSIVE
    @media (max-width: 450px) {
      width: 335px;
      height: 111px;
      margin: 0 auto;
    }
  &::before { // Overlay
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    background: #000;
    mix-blend-mode: darken;
    border-radius: 25px;
    // RESPONSIVE
    @media (max-width: 450px) {
      width: 335px;
      height: 111px;
    }
  }
  .banner { // Image
    min-width: fit-content;
    height: 223px;
    border-radius: 25px;
    object-fit: cover;
    width: 100%;
    // RESPONSIVE
    @media (max-width: 450px) {
      min-width: 100%;
      height: 111px;
    }
  }
  h1 { // Title
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: #FFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%; /* 68.448px */
// RESPONSIVE
    @media (max-width: 450px) {
      @include text-24(#FFF);
        font-weight: 700;
        width: 70%;
        white-space: normal;
        left: 40%;

    }
  }
}

// This _banner control the top image.
// background is the background of the banner image. &:: before pseudo-element helps to create the darken effect.
// .banner is the image itself.
// h1 is the title of the banner. Font is inside _reset.scss