@import "../../../styles/mixins";


  footer { // Black background
    display: flex;
    margin : 0 auto;
    width: 100%;
    overflow: hidden;
    min-height: 100%;
    padding: 5%;
    flex-direction: column;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 100%;
    // RESPONSIVE
    @media (max-width : 450px) {
      padding: 15%;
    }



    .footerContent { // Logo + Text
      display: flex;
      flex-direction: column;
      gap: 28px;
      align-items: center;

        // RESPONSIVE
        @media (max-width : 450px) {
          gap: 10px;
          width: 70%;
        }

      p {
        @include text-24(#FFF);
        text-align: center;
        white-space: pre-wrap;
        // RESPONSIVE
        @media (max-width : 450px) {
          @include text-12 (#FFF);
          }
      }

      img {
        max-width: 122px;
        height: 39.444px;
        flex-shrink: 0;
        filter: brightness(0) invert(1); // turn the image to white
      }
    }
  }
